<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
				<property name="url" value="jdbc:log4jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="C##MGSTORE"/>
				<property name="password" value="MGSTORE"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers> <!-- 패키지 : 하위 모두 포함해서 매핑 -->
		<mapper resource="com/mgstore/user/model/dao/UserDAO.xml"/>		
		<mapper resource="com/mgstore/admin/model/dao/AdminDAO.xml"/>
		<mapper resource="com/mgstore/notice/model/dao/NoticeDAO.xml"/>
<!-- 		<mapper resource="com/mgstore/product/model/dao/ProductDAO.xml"/> -->

		<!-- 
		<package name="com.mgstore.user.model.dao"/>
		
		 -->
	</mappers>
</configuration>
