
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --black: #000000;
  --sonic-silver: #767676;
  --font-size-xs: 12px;
  --font-size-m2: 20px;
  --font-size-xxxl2: 39px;
  --font-size-m3: 15px;
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-gmarket_sans_ttf-medium: "Gmarket Sans TTF-Medium", Helvetica;
}

a {
  text-decoration: none;
  color: #767676;
}


.main {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.title-bg {
  color: var(--black);
  font-family: 'GmarketSansLight';
  font-size: var(--font-size-xxxl2);
  font-weight: bold;
  height: 62px;
  letter-spacing: 0;
  text-align: center;
  width: 521px;
  text-align: center;
  margin-top: 50px;
}

.title-mid {
  align-items: right;
  display: flex;
  margin-right: 44px;
  margin-top: 43px;
  min-width: 294px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: #f5742f;
  font-size: 20px;
  
}

.title-mid :hover{
  color: #f5742f;
}

.title-mid-1 {
  height: 36px;
  letter-spacing: 0;
  min-width: 121px;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;

}

.clicked {
  color: #f5742f;
  font-weight: bold;
}

.category-min {
  align-items: center;
  display: flex;
  margin-right: 25px;
  margin-top: 25px;
  min-width: 358px; 
}

.overlap-min-group {
  font-family: 'Noto Sans KR';

  position: relative;
  color: #5f6368;
  border: solid 1px #dadce0;
  border-radius: 1vw;
  display: inline-block;
  padding: 6px 8px 6px 8px; 
  padding: top right bottom left;
  cursor: pointer;
  margin-left: 5px;

}


.category-min-1 {
  height: 16px;
  letter-spacing: 0;
  min-width: 45px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Noto Sans KR';
  color: #767676;

}

.category-min-1:hover{
  color: #f5742f;
}


.category-min-ask {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-right: 45px;
  margin-top: 25px;
  min-width: 358px; 
}

.overlap-min-group-ask {
  font-family: 'Noto Sans KR';

  position: relative;
  color: #5f6368;
  border: solid 1px #dadce0;
  border-radius: 1vw;
  display: inline-block;
  padding: 6px 8px 6px 8px; 
  padding: top right bottom left;
  cursor: pointer;
  margin-left: 5px;

}


.category-min-ask-1 {
  height: 16px;
  letter-spacing: 0;
  min-width: 45px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Noto Sans KR';
  color: #767676;

}

.category-min-ask-1:hover{
  color: #f5742f;
}

.regist-bord-text {
  color: #ffffff;
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m3);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  min-width: 73px;
  text-align: center;
}


.regist-bord {
  align-items: center;
  align-self: flex-end;
  background-color: #f5742f;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: 0 63px;
  border: 0px;
  margin-top: 30px;
  margin-right: 18%;

}

.regist-bord :hover{
  cursor: pointer;
}

/* 아코디언 목록 */

*{
  box-sizing: border-box; 
}
  
.que:first-child{
    border-top: 1px solid black;
    margin-top: 30px;
  }

.que{
  font-family: 'Noto Sans KR';
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
  font-weight: 400;
  height: 53px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
  width: 1000px;
  
}
  
.que::before{
  display: inline-block;
  content: 'Q';
  font-size: 15px;
  color: #f5742f;
  margin-right: 20px;
  margin-left: 10px;
}

.que.on>span{
  font-weight: bold;
  color: #f5742f; 
}

.que-contents {
  margin-left: 50px;
}

.que-status {
  font-size: 10px;
  border: 1px solid #767676;
  color: #767676;
  padding: 1px 8px;
}
  
.anw {
  font-family: 'Noto Sans KR';
  color: #767676;
  display: none;
  overflow: hidden;
  font-size: 15px;
  background-color: #f4f4f2;
  padding: 27px 0;
  padding-left: 50px;
}
  
.anw-title::before {
  display: inline-block;
  content: 'A';
  font-size: 15px;
  font-weight: bold;
  color: #666;
  margin-right: 20px;
  margin-left: 50px;
  
}

.anw-btn-mem {
  text-align: right;
  margin-top: 20px;
  margin-right: 30px;
}

.anw-btn-mem button{
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: white;
  color: #767676;
  border: 1px solid white;
}

.anw-btn-mng {
  text-align: right;
  margin-top: 20px;
  margin-right: 30px;
}

.anw-btn-mng button{
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: white;
  color: #767676;
  border: 1px solid white;
}

.que-date {
  color: #5f6368;
  font-size: 12px;
}

.anw-date {
  color: #5f6368;
  font-size: 12px;
  text-align: right;
  margin-right: 30px;
}



/* 게시글 작성*/
:root {
  --black: #000000;
  --white: #ffffff;
  --crusta: #f5742f;
  --black-2: #0000004c;
  --gravel: #484848;
  --font-size-m3: 15px;
  --font-size-xxxl2: 39px;
  --font-size-m2: 20px;
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-gmarket_sans_ttf-medium: "Gmarket Sans TTF-Medium", Helvetica;
}


* {
  box-sizing: border-box;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.frame-33 {
  align-items: center;
  background-image: url();
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 1054px;
  padding: 84px 143px;
  width: 1400px;
}



.text-8 {
  color: var(--gravel);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m3);
  font-weight: 700;
  height: 50px;
  letter-spacing: 0;
  line-height: 50px;
  min-width: 87px;
  white-space: nowrap;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.asked-under {
  align-items: flex-start;
  display: flex;
  height: 136px;
  margin-top: 14px;
  min-width: 1060px;
}

.file-add {
  margin-top: 15px;
  margin-right: 10px;
}

.notosans-15px {
  color: var(--black-2);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m3);
  font-style: normal;
  font-weight: 400;
}

.notosans-15px-b {
  color: black;
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m3);
  font-style: normal;
  font-weight: 400;
}



.text-top {
  align-self: flex-start;
  color: var(--gravel);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m2);
  font-weight: 700;
  height: 67px;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 25px;
  width: 860px;
  margin-top: 15px;
}


.text-container {
  align-items: center;
  display: flex;
  margin-right: 44px;
  margin-top: 43px;
  min-width: 294px;
}

.file-layout-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 136px;
  width: 888px;
}

.asked-submit {
  align-items: center;
  background-color: var(--crusta);
  border-radius: 10px;
  display: flex;
  height: 50px;
  margin-left: 22px;
  margin-top: 34px;
  min-width: 200px;
  padding: 0 72px;
  color: white;
  font-weight: bolder;
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m3);
 cursor: pointer;
}


.file-upload {
  align-items: flex-start;
  background-color: var(--white);
  border: 3px solid var(--crusta);
  border-radius: 10px;
  display: flex;
  height: 52px;
  margin-left: 11px;
  margin-top: 0.65px;
  min-width: 96px;
  padding: 12px 17px;

  color: var(--crusta);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m3);
  font-weight: 400;
  text-align: center;

  cursor: pointer;
}

.overlap-group2 {
  align-items: center;
  background-color: #f7f6f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  min-height: 673px;
  width: 1110px;
}


.file-layout {
  align-items: flex-start;
  background-color: #e3e2e3;
  border-radius: 9.87px;
  display: flex;
  height: 52px;
  min-width: 888px;
  padding: 0.7px 25px;
}


.upload-file-name {
  height: 50px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.asked-category-w {
  align-items: center;
  background-color: var(--white);
  border: 2px solid #dddddd;
  border-radius: 10px;
  border-color: white;
  display: flex;
  height: 52px;
  margin-top: 11px;
  min-width: 1060px;
  padding: 0 25px;
}

.asked-title-w {
  font-style: var(--font-family-noto_sans);
  align-items: center;
  background-color: var(--white);
  border: 2px solid #dddddd;
  border-radius: 10px;
  border-color: white ;
  display: flex;
  height: 52px;
  margin-top: 2px;
  min-width: 1060px;
  padding: 0 25px;
}

.aked-contents-w {
  font-style: var(--font-family-noto_sans);
  align-items: center;
  background-color: var(--white);
  border: 2px solid #dddddd;
  border-radius: 10px;
  border-color: white ;
  display: flex;
  height: 300px;
  margin-top: 12px;
  min-width: 1060px;
  padding: 23px 26px;
  resize: none;
}

#input-file {
  display: none;
}





