@charset "UTF-8";

/* 상단 팝업 광고 */
.popup {
    height: 45px;
    background: #f5742f;
    display: block;
}

/* 헤더 */
#header {
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 115px;
    background-color: #fff;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

/* 페이지 크기 정렬 */
.header-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

/* 메인 헤더 */
.header-main {
    height: 58px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

/* 메인 헤더 - 로고 */
.header-logo {
    left: 19px;
    object-fit: cover;
    width: 97px;
}

/* 메인 헤더 - 사이트 구분 */
.header-link-comm-store button {
    font-size: 18px;
    font-weight: 700;
}

.header-comm-store-hover button:hover {
    color: #f5742f;
}

.header-link-comm-store {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

.header-link-comm-store li {
    display: inline-block;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

/* 메인 헤더 - 통합검색 */
.header-main .header-top-search-form {
    display: flex;
    margin: 0 auto;
}

.header-search-bar input[type="text"] {
    border: 1px solid #4e4a4a;
    border-radius: 36px;
    width: 434px;
    height: 42px;
    font-size: 18px;
    padding-left: 50px;
}

.header-search-icon {
    position: absolute;
    top: 20px;
    left: 430px;
    height: 14px;
    width: 14px;
}

/* 환영 문구, 장바구니, 로그인, 회원가입 */
header button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

.header-button-box button {
    font-size: 14px;
    margin-inline-start: 20px;
}

.header-button-box .header-line {
    color: #767676;
    font-size: 10px;
    line-height: 100px;
    margin-inline-start: 20px;
}

.header-button-box img {
    margin: 0;
    margin-inline-start: 20px;
    line-height: 80px;
}

.header-button-box .header-message {
	font-size: 14px;
	text-align: center;
}

.header-button-box {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.flipeffect {
	position: relative;
}
.flipeffect span {
	position: relative;
	display: inline-block;
	animation: flip 2s infinite;
	animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
	0%, 80% {
		transform: rotateY(360deg)
	}
}

/* 서브 헤더 */
.header-sub {
    height: 58px;
    display: flex;
}

/* 서브 헤더 - 타이틀 */
.header-menu {
    display: flex;
}

.header-category-icon {
    display: flex;
    width: 18px;
    line-height: 100px;
}

.header-title {
    display: flex;
}

.header-title a {
    display: flex;
}

/* 마이페이지 - 전체 카테고리 */
.mypage {
	position: relative;
	display: inline-block;
}

.mypage-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.mypage-content a {
	display: block;
}

.mypage:hover .mypage-content {
	display: block;
}

/* 서브 헤더 - 전체 카테고리 */
header .header-all-category {
    z-index: 1;
    display: flex;
    width: 36px;
}

header .show-all-list .header-all-category-title {
    font-size: 18px;
    font-weight: 700;
}

header .show-all-list:hover .header-category-icon {
    transform: rotate(90deg);
    transition-duration: 0.7s;
    filter: invert(69%) sepia(35%) saturate(7370%) hue-rotate(341deg) brightness(99%) contrast(93%);
}

header .show-all-list:hover {
    color: #f5742f;
}

.header-menu .header-title .header-all-category .header-all-category-container .header-all-list-contents {
    position: absolute;
    width: 1000px;
    display: none;
}

.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents {
    display: block;
    margin: 0 auto;
}
.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents .header-all-list {
    background: rgba(255, 255, 255, 0.6);
}

.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents .header-all-list > h2 {
    margin: 0;
    color: #767676;
    text-align: start;
}

.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents .header-all-list > ul {
    display: flex;
}

.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents .header-all-list > ul > li {
    text-align: start;
    margin-inline-end: 20px;
}

.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents .header-all-list > ul > li h3 {
    padding: 0;
    text-align: center;
}

.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents .header-all-list > ul > li ul li a {
    font-size: 12px;
    color: #767676;
    cursor: poniter;
    width: 140px;
}

.header-menu .header-title .show-all-list:hover .header-all-category .header-all-category-container .header-all-list-contents .header-all-list > ul > li ul li a:hover {
    color:#f5742f;
    cursor: pointer;
}

.menu-line {
	border-right: 1px dashed #E5E5E5;
    height: 170px;
    margin-top: 30px;
}

.show-all-list {
	display: flex;
	height: 58px;
}

.show-all-list .header-all-category-title {
	height: 100%;
	line-height: 52px;
}

.show-all-list .header-category-icon {
	margin-left: 0;
	margin-right: 10px;
	height: 96%;
	align-items: center;
}

/* 서브 헤더 - 메뉴 리스트 */
header nav {
    display: flex;
    height: 58px;
}

header #header-nav a {
    display: flex;
    width: 100px;
    height: 100%;
    font-size: 18px;
    line-height: 20px;
}

header #header-nav a:hover {
    color: #f5742f;
}

header #header-nav li {
    margin: 0;
    display: inline-block;
}

/* 전체 효과 */
header div {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
}

header dl, ul, ol, li {
    list-style: none;
}

header a {
    color: #000;
    text-decoration-line: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
	margin: 0;
}