@charset "UTF-8";

/*노토산스 폰트*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
 font-family: 'Noto Sans KR', sans-serif;
}
/*지마켓 폰트*/
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: GmarketSansBold;
}

.group {
    max-width: 1400px;
    margin: 0 auto;
}

form {
    padding: 5% 10% 5% 10%;
}

h2{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5F5F5F;
}

#title {
    font-weight: 500;
    font-size: 20px;
}

#text {
    color: gray;
    font-family: 'Noto';
    width: 100%;
    padding: 1%;
}


#sub {
    font-size: 15px;
    color: rgb(124, 124, 124);
    font-family: 'notosanskr';
}   

select {
    color: rgb(124, 124, 124);
    width: 50%;
    padding: 1%;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
 }

 /*진행상황 선택 옵션칸 사이즈 설정*/
 /* span {
    float: left;
    padding-bottom: 2%;
    width: 300px;
    height: 19px;
 } */

 .eveImg, .span1 {
    width: 50%;
 }


 /* 등록하기 버튼 */
 #appBtn {
    font-size: larger;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    
    position: relative;
    width: 100%;
    height: 67px;
    
    /* Plan/Grey/EEE */
    
    background: #EEEEEE;
    /* Plan/Grey/666 */
    
    border: 1px solid #666666;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
 }

 .eve-date {
    padding-top: 2%;
    width: 100%;
    float: left;
 }

 #imgBtn {
    background: #010112;
    padding: 5px 30px 5px 30px;
    border-radius: 28px;
    font-family: 'Gmarket Sans TTF';
    font-style: normal;
    color: #F7F7F7;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
 
 }

 #fileceo {
    padding: 5px 5px 0 0;
    width: 100%;
 }

 #imgSection {
    padding-top: 2%;
 }

 #file {
 
    background: black;
    color: #fff;
    border: 1px solid rgb(165, 165, 165);
 }

 #eveImg {
    /* width: 50%; */
    padding: 5px 5px 0 0;
 }
 
 #file, .addedP, .addedR, .addedA, .addedE, .addedS, .addedB{
    border: 1px solid rgb(165, 165, 165);
 }

